.summary {
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.1);

  &__user {
    display: flex;
    flex-direction: column;

    &__info {
      display: flex;
      align-items: center;

      &__details {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        > p {
          margin: 0;
        }

        &__name {
          font-size: 2rem;
          font-weight: 700;
        }

        &__title {
          font-size: 1.25rem;
        }
      }

      &__image__container {
        width: 60px;
        height: 60px;
      }
    }

    &__stats {
      display: flex;
      justify-content: space-between;
    }
  }
}
